.navbar {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.leftNav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: fit-content;
}

.rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: fit-content;
}

li {
  text-decoration: none;
  list-style: none;
  color: white;
  cursor: pointer;
}
.liEachNav {
  color: rgb(27, 24, 24);
}

.liNav {
  color: white;
  margin: 30px;
  font-weight: bold;
}

.listLi {
  border-radius: 10px;
  border: 1px solid rgb(205, 201, 201);
}

.logo {
  width: 150px;
  height: 80px;
}

.logo:hover {
  cursor: pointer;
}

.search {
  font-weight: bold;
  color: rgb(57, 204, 155);
}
