.navbar {
  max-width: 1400px;
  min-width: 420px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftNav {
  background-color: rgb(3, 25, 96);
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.rightNav {
  background-color: rgb(3, 25, 96);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

li {
  text-decoration: none;
  list-style: none;
  color: white;
  cursor: pointer;
}
.liEachNav {
  color: rgb(27, 24, 24);
}

.liNav {
  color: white;
  margin: 30px;
  font-weight: bold;
}

.listLi {
  border-radius: 10px;
  border: 1px solid rgb(205, 201, 201);
}

.logo {
  width: 150px;
  height: 80px;
  object-fit: fill;
}

.logo:hover {
  cursor: pointer;
}

.search {
  font-weight: bold;
  color: rgb(57, 204, 155);
}

.dropdown {
  flex: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Make menu be hover and display card. */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Display item of navbar on the card. */
.dropdownContent li {
  flex: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent li:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.searchShow {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.none {
  display: none;
}
