.movie {
  width: 100%;
  box-sizing: border-box;
}
.navHight {
  width: 100%;
  background-color: rgb(3, 25, 96);
}

.topIntro {
  width: 70%;
  margin: auto;
  font-weight: bold;
  margin-top: 20px;
}

.pageTitle {
  margin: 0;
  padding: 0;
}

.showItems {
  display: block;
}

.hideItems {
  display: none;
}

@media screen and (min-width: 1080px) {
  .actionContainer {
    width: 25%;
    margin-right: 30px;
  }

  .navbar {
    width: 70%;
  }

  .actionAndCardContainer {
    width: 70%;
  }
}

@media screen and (max-width: 1537px) {
  img {
    object-fit: fill;
  }

  .actionAndCardContainer {
    flex-direction: column;
  }

  .actionContainer {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  img {
    object-fit: cover;
  }
}

@media screen and (max-width: 1080px) {
  /* Invole with navbar */
  .liNav {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .bold {
    font-size: 1rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .topIntro {
    width: 90%;
  }

  .actionAndCardContainer {
    width: 90%;
  }

  .cardContainer {
    margin-left: 0;
  }

  .navbar {
    width: 90%;
  }

  .myCard {
    min-width: 200px;
  }
}
