.movie {
  width: 100%;
}

.allContent {
  width: 70%;
  margin: auto;
}

.navHight {
  background-color: rgb(3, 25, 96);
  height: fit-content;
  display: flex;
  align-items: center;
}
.title {
  font-weight: bolder;
}