.left-body {
  width: 400px;
  margin-right: 10px;
}
.sort {
  border: 1px solid rgb(147, 143, 143);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sort-li {
  color: rgb(50, 47, 47);
}

.sign {
  display: flex;
}

.card {
  width: 300px;
  border: 1px solid;
}

.search-place {
  background-color: rgb(201, 206, 212);
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.search {
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: rgb(201, 206, 212);
  text-align: center;
}

.mt {
  margin-top: 10px;
}

.list {
  padding: 10px;
}

.left-side-container {
  width: 20px;
}