.myCard {
  height: 100%;
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.description {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 8px;
  position: relative;
  height: 100%;
}

.bold {
  font-weight: bold;
}

.bold:hover {
  color: rgba(35, 224, 224, 0.863);
  cursor: pointer;
}

img {
  width: 100%;
  height: 280px;
  border-radius: 8px 8px 0 0;
}

.moreDetail {
  background-color: rgb(234, 244, 244);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  right: 2px;
  position: absolute;
}

.moreDetail:hover {
  cursor: pointer;
  background-color: rgb(151, 237, 237);
}

.paragraph {
  line-height: 1.5rem;
}

.voteAverage {
  width: 30px;
  height: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 10px;
  top: -50%;
  text-align: center;
  position: absolute;
  color: white;
  clip-path: circle(50px);
}

.blur {
  background-color: rgba(0, 5, 6, 0.874);
  padding: 0px;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.pie {
  width: 100px;
}

.pie circle {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 55;
}
